@page "/pondEdit/{Id:int}"
@inject IPondService PondService
@inject NavigationManager Navigation
@using KoiFishManager.Models

<h3>Cập Nhật Tình Trạng Hồ</h3>

<EditForm Model="@editPond" OnValidSubmit="OnEditPond">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group" style="margin-bottom: 10px">
    <label for="name">Tên hồ</label>
    <InputText id="name" class="form-control" @bind-Value="response.Name" />
    </div>
    
    <div class="form-group" style="margin-bottom: 10px">
        <label for="size">Kích thước (m²)</label>
        <InputNumber id="size" class="form-control" @bind-Value="response.Size" />
    </div>
    
    <div class="form-group" style="margin-bottom: 10px">
        <label for="depth">Độ sâu (m)</label>
        <InputNumber id="depth" class="form-control" @bind-Value="response.Depth" />
    </div>
    
    <div class="form-group" style="margin-bottom: 10px">
        <label for="waterQuality">Chất lượng nước</label>
        <InputText id="waterQuality" class="form-control" @bind-Value="response.WaterQuality" />
    </div>
    
    <button type="submit" class="btn btn-warning">Cập nhật</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    private PondRequest editPond = new PondRequest();
    private PondResponse response = new PondResponse();

    protected override async Task OnInitializedAsync()
    {
        response = await PondService.GetPondByIdAsync(Id);
    }

    private async Task OnEditPond()
    {
        try
        {
            await PondService.UpdatePondAsync(Id, editPond);
            Navigation.NavigateTo("/ponds"); // Redirect to pond list after editing
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error editing pond: {ex.Message}");
        }
    }
}
