@page "/register"
@using KoiFishManager.Models
@using KoiFishManager.Web.Services

@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject HttpClient Http

@if (ShowErrors)
{
    <div class="alert alert-danger">
        <p>@Error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Đăng ký tài khoản</h5>
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <div class="form-group">
                <label for="username">Username</label>
                <InputText id="username" class="form-control" @bind-Value="RegisterModel.UserName"></InputText>
                <ValidationMessage For="()=> RegisterModel.UserName"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" type="email" class="form-control" @bind-Value="RegisterModel.Email"></InputText>
                <ValidationMessage For="()=> RegisterModel.Email"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password"></InputText>
                <ValidationMessage For="()=> RegisterModel.Password"></ValidationMessage>
            </div>

            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </EditForm>
    </div>
</div>

@code {
    private bool ShowErrors;
    private string Error = "";
    private RegisterRequest RegisterModel = new RegisterRequest();

    private async Task HandleRegister()
    {
        // Attempt to register the user using the AuthService
        var registerResponse = await AuthService.Register(RegisterModel);
        
        if (registerResponse.Successful)
        {
            // If registration is successful, navigate to the login page or home page
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            // If registration fails, show the error message
            ShowErrors = true;
            Error = registerResponse.Error;
        }
    }
}
